@theme {
  --color-neutral-50: oklch(1 0 0); /* #ffffff */
  --color-neutral-100: oklch(0.8266 0 0); /* #C6C6C6 */
  --color-neutral-200: oklch(0.6960 0 0); /* #9D9D9D */
  --color-neutral-300: oklch(0.3911 0.0033 286.24); /* #454547 */
  --color-neutral-400: oklch(0.36 0 0); /* #3D3D3D */
  --color-neutral-500: oklch(0.3012 0 0); /* #2E2E2E */
  --color-neutral-600: oklch(0.2443 0.0038 286.12); /* #202022 */
  --color-neutral-700: oklch(0.2055 0.0039 286.05); /* #171719 */
  --color-neutral-900: oklch(0.1448 0 0); /* #0A0A0A */
  /* color lime */
  --color-lime-500: oklch(0.9157 0.2054 121.64);
  --color-lime-800: oklch(0.3 0.0726 121.83);
  /* color success */
  --color-success: oklch(0.8217 0.267 140.6);
  /* color destructive */
  --color-red-500: oklch(0.6607 0.2258 25.95);
}
